@import "../../css/Global.scss";

.modal {
    background-color: $grey-light-d;
    height: calc(100vh - 83px);
    left: 0;
    position: fixed;
    top: 100vh;
    width: 100vw;
    transition: top .25s ease-in-out;
    z-index: 1;

    @include breakpoint(tabletLandscape) {
        height: calc(100vh - 103px);
    }

    &.active {
        top: 83px;

        @include breakpoint(tabletLandscape) {
            top: 103px;
        }
    }

    @include breakpoint(desktopMedium) {
        background: linear-gradient(90deg, $grey-light-d 50%,$grey-light 50%);
    }

    .modal__header {
        border-bottom: 1px solid $grey-light-f;
        padding: 25px;

        @include breakpoint(desktopMedium) {
            background-color: $grey-light-d;
        }

        .modal__header__title {
            font-weight: bold;
        }

        .icon {
            font-size: 20px;
        }
    }

    .modal__content {
        max-height: calc(100vh - 195px);
        overflow-y: scroll;
        padding: 35px 25px;

        @include breakpoint(desktopMedium) {
            align-items: center;
            display: flex;      
            height: calc(100vh - 215px);
            justify-content: space-evenly;
            max-height: calc(100vh - 215px);
            overflow-y: hidden;
        }

        .modal__content__title {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            margin: 0 0 40px;
            max-width: 250px;

            @include breakpoint(tabletPortrait) {
                font-size: 32px;
                line-height: 42px;
                font-weight: 300;
                max-width: 640px;            
            }

            @include breakpoint(desktopMedium) {
                max-width: 500px;   
            }
        }

        .modal__content__text {

            @include breakpoint(desktopMedium) {
                margin-right: -40px;
                max-height: 360px;
                max-width: 500px;   
                overflow-y: scroll;
                padding-right: 40px;
            }

            p {
                margin: 0 0 30px;
            }
        }
    }
}