$black: #000;
$green: #00fc61;
$green-b: #01ff5f;
$green-c: #00ff63;
$grey: #818181;
$grey-b: #6f6f6f;
$grey-light: #ededed;
$grey-light-b: #d6d6d6;
$grey-light-c: #a6a6a6;
$grey-light-d: #f7f7f7;
$grey-light-e: #d0d0d0;
$grey-light-f: #d8d8d8;
$grey-light-g: #bdbdbd;
$white: #fff;